////
/// @group Input base (text, select)
////

@import '../mixins';
@import '../theme';

/// The default font size for all inputs.
$input-font-size: 16px !default;

/// The default minimum height for all inputs.
$input-min-height: 34px !default;

/// Selectors to apply base input styles to.
$input-selectors: 'input[type=text], input[type=date], input[type=password], select, textarea';

#{$input-selectors} {
  font-family: $text-font-family;
  font-size: $input-font-size;
  min-height: $input-min-height;

  @if mixin_exists(input-text) {
    @include input-text;
  }
}
.fc-field-success {
  #{$input-selectors} {
    @if mixin_exists(input-text-success) {
      @include input-text-success;
    }
  }
}
.fc-error {
  #{$input-selectors} {
    @if mixin_exists(input-text-error) {
      @include input-text-error;
    }
  }
}


//change placeholder color
.fc-fieldinput::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:  darken($input-field-color,40%);
}
.fc-fieldinput:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:  darken($input-field-color,40%);
  opacity:  1;
}
.fc-fieldinput::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:  darken($input-field-color,40%);
  opacity:  1;
}
.fc-fieldinput:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:  darken($input-field-color,40%);
}
.fc-fieldinput:-ms-input-placeholder { /* Microsoft Edge */
  color:  darken($input-field-color,40%);
}
