@mixin typography($color, $font-family, $font-size) {
  color: $color;
  font-family: $font-family;
  font-size: $font-size;
  @content;
}

@mixin text-input($color, $border, $radius) {
  input[type=text],
  input[type=date],
  input[type=password],
  select,
  textarea {
    border: $border;
    -moz-border-radius: $radius;
    border-radius: $radius;
    color: $color;
  }
}

@mixin spacing($space-before, $space-after) {
  margin-bottom: $space-after;
  margin-top: $space-before;
}
