@import url(http://fonts.googleapis.com/css?family=Open+Sans:900,800,700,600,500,400,300,200,100);

/* the colors */
$primary-color: #7fcc42 !default; // base color - main color
$secondary-color: #eef2f4!default; // secondary color
$error-color: #f26f5d !default; // errors color - used for the error message
$line-stroke-color: #d8e2e6 !default; // lines and strokes color - input field border color
$help-link-font-color: #434d5f; //help-link-color
$input-field-color: $secondary-color !default; // input field background color

/* the fonts */
$primary-font: 'Open Sans' !default; // the base font
$text-font-family: $primary-font !default; // the fonts of the texts

/* the headers*/
$h1-color: #434d5f !default; // h1 header color
$h1-size: 50px !default; // h1 header size
$h1-font-family: $primary-font!default; // h1 header font family
$h1-line-height:55px!default; // h1 header line height
$h1-margin: 50px 0 15px 0!default; // h1 header margin
$h2-color: #434d5f !default; // h2 header color
$h2-size: 28px !default; // h2 header size
$h2-font-family: $primary-font!default; // h2 font family
$h2-line-height: 30px; // h2 line height
$h2-margin: 10px 0 0 0!default; // h2 margin
$h3-color: #5e6d7f !default; // h3 header color
$h3-size: 16px !default; // h3 header size
$h3-font-family: $primary-font!default; // h3 header font family
$h3-line-height: 20px; // h3 line height
$h3-margin: 15px 0 20px 0!default; // h3 margin
$h4-color: #434d5f!default; // h4 header color
$h4-size: 20px !default; // h4 font size
$h4-font-family: $primary-font!default; // h4 font family
$h4-line-height: 25px; // h4 line height
$h4-margin: 13px 0 10px 0!default; // h4 margin

/* the section description and main content text  style */
$section-des-color: #5e6d7f !default; // the section description color
$section-des-size: 16px !default; // the section description size
$section-des-font-family: $primary-font!default; // the section description family
$section-des-line-height: 20px !default; // the section description line height
$section-des-margin: 10px 0 10px 0!default; // the section description margin
$regular-font-size: 16px !default; // the main content font size
$regular-font-height: 20px !default; // the main content text line height
$regular-font-color: #434d5f!default; // the main content text color

/* the input field style*/
$input-radius: 50px!default; // the input box border radius and margin
$input-textarea-radius: 20px; // the text area border radius
$input-textare-height: 162.9px; // text area height
$input-focus-border:2px solid #d8e2e6!default; //the input box border when focus
$input-focus-back-color:#fff!default; // the input field background color when focus

/* the success and error message style*/
$succ-font-color: $primary-color!default; // the success message color
$succ-font-size: 14px!default; // the success message size
$error-font-color: $error-color!default; // the error message font
$error-font-size: 14px!default; // the error message size

/* the button style */
$btn-radius: 50px !default; // radius of the button
$btn-height: 48px; // height of button
$btn-width: 163px; // button width

/* submit warning dialog style */
$modal-width: 643px!default; // the modal width
$modal-height: 361px!default; // the modal height
$modal-header-font-size: 28px!default; // the modal header font size
$modal-header-line-height: 1.36!default; // the modal header line height
$modal-header-color: #434d5f!default; // the modal header color
$modal-des-font-size: 16px!default; // the modal description font size
$modal-des-line-height: 1.75!default; // the modal description line height
$modal-des-color: #434d5f!default; // the modal description color
$modal-radius: 8px!default; // the modal box radius
$modal-back-color: #fff!default; // the modal box background color
$modal-header-padding: 50px 15px 0px 15px!default; // the modal header padding
$modal-padding: 25px 15px 0px 15px!default; // the modal padding








