@import '../theme';


.fc-help-link {
  position:$help-link-position;
  top: $help-link-top;
  left: $help-link-left;
  text-align: $help-link-text-align;
  background-color: $secondary-color;
  border-radius: 50%;
  width: $help-link-width;
  height: $help-link-height;
  font-size: $help-link-font-size;
  line-height: $help-link-line-height;
  cursor: $help-link-cursor;
  padding:$help-link-padding;
  text-decoration:$help-link-text-decoration;


}

.fc-help-link:before{
  content:$help-link-mark-content;
  font-size:$help-link-mark-font-size;
  width:$help-link-mark-width;
  height: $help-link-mark-height;
  color:$help-link-font-color;

}
.fc-help {
  margin-bottom: $space-after-field-help;
  margin-top: $space-before-field-help;

  @if mixin_exists(help) {
    @include help;
  }
}
