@import '../theme';


.fc-progress-bar-container {
  animation: none;
  background-color: #fff;
  box-shadow: none;
  margin: 0 auto;
  padding: 25px 0;
  position: relative;
  width: 100%;
  z-index: 15;
  position:fixed;
  top:0;
  left:0;
  overflow:hidden;

  height:119px;

  //  border-bottom:1px solid $progress-bar-bottom-color;
  box-shadow: $progress-bar-bottom-shadow;

  @if mixin_exists(progress-bar-container) {
    @include progress-bar-container;
  }
}



.fc-progress-bar-container .fc-step-count{
  margin-left:210px;

}

.render{
  padding-top:100px;

}

.fc-complete-path{
  background-color:$primary-color;
  content: '';
  height: $progress-bar-node-link-height;
  left: 0;
  position: absolute;
  top: calc(50% - #{($progress-bar-node-link-height / 2)});
  width: 100%;
  z-index: 3;
  margin-top: 17px;
  margin-left: 5px;

}

.fc-progress-bar-container .fc-step-count {
  color: #555;
  font-family: $primary-display-font;
  font-size: 14px;
  padding-bottom: 8px;

  @if mixin_exists(progress-bar-step-count) {
    @include progress-bar-step-count;
  }
}
.fc-progress-bar {
  max-width: 1200px;
  margin: 0 auto;
  height: $progress-bar-size;
  padding-right: $progress-bar-size;
  position: relative;
  width: 100%;
  //overflow:hidden;

}
.fc-progress-bar:after {
  background-color: #eef2f4;
  content: '';
  height: $progress-bar-node-link-height;
  left: 0;
  position: absolute;
  top: calc(50% - #{($progress-bar-node-link-height / 2)});
  width: 100%;
  z-index: 2;

  @if mixin_exists(progress-bar-node-link) {
    @include progress-bar-node-link;
  }
}
.fc-progress-bar .progress-bar-group {
  background-color: $input-field-color;
  border: 3px solid $input-field-color;
  border-radius: 50%;
  height: $progress-bar-size;
  position: absolute;
  transform: none !important;
  width: $progress-bar-size;
  z-index: 10;

  @if mixin_exists(progress-bar-node) {
    @include progress-bar-node;
  }
}

.fc-progress-bar .progress-bar-group.complete {
  background-color: $primary-color;
  border: $progress-bar-node-complete-border;
  border-radius: 50%;
  height: $progress-bar-size;
  position: absolute;
  transform: none !important;
  width: $progress-bar-size;
  z-index: 10;

  @if mixin_exists(progress-bar-node) {
    @include progress-bar-node;
  }
}

.fc-progress-bar .progress-bar-current-group {
  background-color: $input-field-color;
  border: $progress-bar-node-current-border;
  box-sizing: border-box;
  height: $progress-bar-size;
  width: $progress-bar-size;

  @if mixin_exists(progress-bar-current-node) {
    @include progress-bar-current-node;
  }
}
.fc-progress-bar .progress-bar-label {
  display: none;

  @if mixin_exists(progress-bar-node-label) {
    @include progress-bar-node-label;
  }
}

//the tick mark on the node of the progress bar
.progress-bar-group.complete{





}

//hide the step count
.fc-progress-bar-container .fc-step-count{
  display:$progress-bar-step-count-display;

}

//show the progress bar steps
.fc-progress-bar-container .fc-progress-bar  .fc-steps-bar .progress-bar-group .progress-bar-label{



  display: block;

  font-size: 14px;
  white-space: nowrap;
  position: absolute;
  top:52px;
  //left:50%;
  margin:0 auto;
  opacity: 1;
  color: #1e282d;
  //position: relative;
  vertical-align: baseline;
  padding:0;
  visibility: visible;
  left: 50%;
  transform: translate(-50%, 0);
  color:$progress-bar-step-color;

}

.fc-progress-bar-container .fc-progress-bar  .fc-steps-bar .progress-bar-group:first-of-type .progress-bar-label {
  left:0;
  transform: none!important;
}

.fc-progress-bar-container .fc-progress-bar  .fc-steps-bar .progress-bar-group:last-of-type .progress-bar-label {
  transform: translate(0, 0);
  left: auto;
  right: 0;
}

.fc-progress-bar-container .fc-progress-bar  .fc-steps-bar .progress-bar-group{
  vertical-align: baseline;
  text-align:center;
}

.fc-progress-bar-container .fc-progress-bar  .fc-steps-bar .complete{
  background-color: $primary-color;
  background-image: url("data:image/svg+xml,%3Csvg fill='#{url-encode-color($success-icon-color)}' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.0' x='0px' y='0px' viewBox='-4 -4 30 30' enable-background='new -4 -4 30 30' xml:space='preserve'%3E%3Cpolyline fill-rule='evenodd' clip-rule='evenodd' fill='none' stroke='#{url-encode-color($whitecolor)}' stroke-width='2' stroke-miterlimit='10' points=' 20,6 9,17 4,12 '/%3E%3C/svg%3E");
  background-repeat: no-repeat;




}
